body {counter-reset: page;}
.report-page {position:relative;}
.report-page .count {z-index:5; position:absolute; top:40px; right:30px; font-size:10px; line-height:12px; font-weight:500; color:#4a7dbb; counter-increment: page; content: counter(page);}
.report-page.page-cover .count,
.report-content-finish .count {color:#fff;}

/*.report-page:before {z-index:5; position:absolute; top:40px; right:30px; font-size:10px; line-height:12px; font-weight:500; color:#4a7dbb; counter-increment: page; content: counter(page);}*/
/*.report-page.page-cover:before,*/
/*.report-content-finish:before {color:#fff;}*/

.mt-10 {margin-top:10px !important;}
.mt-20 {margin-top:20px !important;}
.contents {margin-top:30px;}

.sec {overflow:hidden;margin:30px 0 10px;}
.sec .sec-title {float:left; margin:0;}
.sec .info {float:right; color:#2c6cb7; font-size:9px; line-height:14px;}
.sec-title {margin:30px 0 10px; font-size:12px; line-height:1.5; font-weight:900;}

.table {margin:0 -10px; font-size:9px;}
.table + .table {margin-top:30px;}
.table table {border-collapse:separate; border-spacing:10px 0;}
.table thead th {text-align:center; font-weight:900; color:#fff; border-bottom-width:0; background:#2c6cb7;}
.table tbody tr:first-of-type td {border-top:1px solid #2c6cb7;}
.table thead + tbody tr:first-of-type td {border-top-width:0;}
.table th, td {padding:6px 10px 5px; line-height:1.33; border-bottom:1px solid #2c6cb7;}
.table td {position:relative; color:#2c6cb7;}
.table .count {position:absolute; top:50%;left:0; display:inline-block; margin-top:-6px; width:44px; text-align:center;}
.table span.count + p {display:inline-block; padding-left:34px;}
.table tbody tr:nth-of-type(2n),
.table .bg {background:#f3f7fe;}
.table .center {text-align:center;}
.table .left {text-align:left;}
.table .right {text-align:right;}
.table th.rate {background: linear-gradient(to right, rgba(255,1,1,1) 0%, rgba(255,1,1,1) 6%, rgba(252,121,33,1) 38%, rgba(99,174,51,1) 62%, rgba(44,108,183,1) 94%, rgba(44,108,183,1) 100%);}
.table td.rate span {display:block; margin:0 6px; width:8px; height:8px; border-radius:50%;}
.table td.rate .worst {background:#ff0101;}
.table td.rate .worse {margin-left:26px; background:#fc7921;}
.table td.rate .good {margin-left:46px; background:#63ae33;}
.table td.rate .best {margin-left:66px; background:#2c6cb7;}
.table .sub-title {display:block;margin-bottom:6px;font-size:11px; font-weight:900; line-height:14px;}
.table p {padding:4px 0; line-height:14px;}
.table p + p {margin-top:6px;}
.table.p-pad-reset p {padding:0; line-height:12px;}

.page-cover {padding:0; background:#fff;}
.page-cover .report-content {display:flex; height:100%;}
.page-cover h1 {flex:0 0 215px; padding-top:97px; justify-content: center; text-align:center; border-right:30px solid #a8c2e5;}
.page-cover .info {flex:1 1 auto; padding:100px 0 0 60px; color:#fff; background:#2c6cb7;}
.page-cover .info h2 {position:relative; font-size:28px; line-height:36px; font-weight:900;}
.page-cover .info h2:after {position:absolute; bottom:-10px; left:0; content:""; display:inline-block; width:244px; height:2px; background:#fff;}
.page-cover .info ul {margin-top:220px; font-size:12px; line-height:1.17;}
.page-cover .info li {}
.page-cover .info li + li {margin-top:14px;}
.page-cover .info li strong {display:inline-block; width:80px; font-weight:900;}
.page-cover .info li span {font-weight:700;}

.page-second {padding-top:60px;}
.page-second h1 {font-size:20px; color:#333; line-height:28px; font-weight:900;}
.page-second h1 strong {color:#2c6cb7; font-weight:900;}
.page-second .content {margin-top:40px;}
.page-second .content p {font-size:11px; line-height:1.64; color:#111;}
.page-second .content p + p {margin-top:18px;}
.page-second .certification {display:flex; margin-top:50px;}
.page-second .certification > div {flex:0 0 145px;}
.page-second .certification > div + div {margin-left:20px;}
.page-second .certification .person {position:relative; padding:0 10px;}
.page-second .certification .person h2 {margin:0 -10px; padding:6px 0; text-align:center; font-size:9px; line-height:12px; color:#fff; background:#2c6cb7;}
.page-second .certification .person strong {display:block; margin-top:12px; font-size:10px; line-height:12px; color:#000; font-weight:900;}
.page-second .certification .person ul {margin-top:8px; font-weight:500; line-height:1.6;}
.page-second .certification .person p {position:absolute; bottom:0;}
.page-second .certification .image {}

.personal-info {margin-top:31px;}
.personal-info .box {display:flex; height:44px; align-items:center;}
.personal-info .box:first-of-type {justify-content:space-between;}
.personal-info .box > div  {display:flex; align-items:flex-start;}
.personal-info .box + .box {margin-top:30px;}
.personal-info h3 {margin-top:10px;font-size:12px; color:#000; line-height:1.5; font-weight:900;}
.personal-info strong {margin-left:12px; font-size:40px; color:#06b1f0; font-weight:900;}
.personal-info .box:last-of-type strong {color:#2c6cb7;}
.personal-info .box strong span {display:inline-block;margin:9px 0 0 2px;font-size:14px; vertical-align:top;}
.personal-info .box .bmi {display:block; width:300px;}
.personal-info .bmi ul {display:flex;}
.personal-info .bmi .text li {text-align:center;}
.personal-info .bmi .text li:after {display:block; content:""; width:100%; height:2px;}
.personal-info .bmi .text li:nth-of-type(1) {flex:0 0 40px;}
.personal-info .bmi .text li:nth-of-type(2) {flex:0 0 70px;}
.personal-info .bmi .text li:nth-of-type(3) {flex:0 0 30px;}
.personal-info .bmi .text li:nth-of-type(4) {flex:0 0 90px;}
.personal-info .bmi .text li:nth-of-type(5) {flex:0 0 70px;}
.personal-info .bmi .text li:nth-of-type(1):after {background:#d8d8d8;}
.personal-info .bmi .text li:nth-of-type(2):after {background:#06b1f0;}
.personal-info .bmi .text li:nth-of-type(3):after {background:#ffc102;}
.personal-info .bmi .text li:nth-of-type(4):after {background:#ff5050;}
.personal-info .bmi .text li:nth-of-type(5):after {background:#9d0100;}
.personal-info .bmi .number {}
.personal-info .bmi .number li {position:relative; padding-top:14px; }
.personal-info .bmi .number li:before {position:absolute; top:0; display:block; content:""; width:1px; height:12px; background:#333;}
.personal-info .bmi .number li + li {margin-left:53px;}
.personal-info .bmi .number li:nth-of-type(2) {margin-left:54px;}
.personal-info .bmi .number li:last-of-type {margin-left:54px;}
.personal-info .bmi .number li span {position:relative; left:-10px;}
.personal-info .average {margin-left:56px; justify-content:flex-start;}
.personal-info .average .image{margin-top:2px;}
.personal-info .average .info {margin-left:10px;line-height:1.2;}
.personal-info .average .info em {}
.personal-info .average .info strong {display:block; margin:6px 0 0; font-size:10px; line-height:12px; color:#6200ee;}
