body {
    counter-reset: page;
}

.report-page {
    position: relative;
}

.report-page>.count {
    z-index: 5;
    position: absolute;
    top: 54px;
    right: 40px;
    font-size: 12px;
    line-height: 12px;
    color: #4a7dbb;
}

.report-page.page-cover>.count,
.report-content-finish>.count {
    color: #fff;
}

.page-second .layout-table tfoot,
.page-footer-space,
.page-second footer {
    height: 170px;
}

.page-third .layout-table tfoot,
.page-footer-space,
.page-third footer {
    height: 106px;
}

.page-seventh .layout-table tfoot,
.page-footer-space,
.page-seventh footer {
    height: 106px;
}

/*.report-page:before {z-index:5; position:absolute; top:40px; right:30px; font-size:10px; line-height:12px; font-weight:500; color:#4a7dbb; counter-increment: page; content: counter(page);}*/
/*.report-page.page-cover:before,*/
/*.report-content-finish:before {color:#fff;}*/

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.contents {
    margin-top: 40px;
}

.sec {
    overflow: hidden;
    margin: 40px 0 16px;
}

.sec .sec-title {
    float: left;
    margin: 0;
}

.sec .info {
    float: right;
    color: #2c6cb7;
    font-size: 12px;
    line-height: 16px;
}

.sec-title {
    margin: 40px 0 16px;
    font-size: 16px;
    line-height: 1.125;
    font-weight: 700;
}

.table {
    margin: 0 -14px;
    font-size: 12px;
}

.table+.table {
    margin-top: 40px;
}

.table table {
    border-collapse: separate;
    border-spacing: 14px 0;
    page-break-inside: auto;
}

.table table tr {
    page-break-inside: avoid;
    page-break-after: auto
}

.table thead th {
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-bottom-width: 0;
    background: #2c6cb7;
}

.table tbody tr:first-of-type td {
    border-top: 1px solid #2c6cb7;
}

.table thead+tbody tr:first-of-type td {
    border-top-width: 0;
}

.table th,
.table td {
    padding: 8px 14px;
    line-height: 1.33;
    border-bottom: 1px solid #2c6cb7;
}

.table td {
    position: relative;
    color: #2c6cb7;
}

.table .count {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    margin-top: -6px;
    width: 65px;
    text-align: center;
}

.table span.count+p {
    display: inline-block;
    padding-left: 51px;
}

.table tbody tr:nth-of-type(2n),
.table .bg {
    background: #f3f7fe;
}

.table .bg-white {
    background: #fff;
}

.table .center {
    text-align: center;
}

.table .left {
    text-align: left;
}

.table .right {
    text-align: right;
}

.table th.rate {
    background: linear-gradient(to right, rgba(255, 1, 1, 1) 0%, rgba(255, 1, 1, 1) 6%, rgba(252, 121, 33, 1) 38%, rgba(99, 174, 51, 1) 62%, rgba(44, 108, 183, 1) 94%, rgba(44, 108, 183, 1) 100%);
}

.table td.rate {
    padding-left: 6px;
    padding-right: 6px;
}

.table td.rate span {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

.table td.rate .worst {
    background: #ff0101;
}

.table td.rate .worse {
    margin-left: 36px;
    background: #fc7921;
}

.table td.rate .good {
    margin-left: 66px;
    background: #63ae33;
}

.table td.rate .best {
    margin-left: 96px;
    background: #2c6cb7;
}

.table .sub-title {
    display: block;
    margin: 6px 0 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.table p {
    padding: 0 0 6px;
    line-height: 1.67;
}

.table p+p {
    margin-top: 14px;
}

.table.p-pad-reset p {
    padding: 0;
}

.page-cover {
    overflow: hidden;
    padding: 0;
    background: #fff;
}

.page-cover .report-content {
    display: flex;
    width: 210mm;
    height: 297mm;
}

.page-cover h1 {
    flex: 0 0 244px;
    padding-top: 130px;
    justify-content: center;
    text-align: center;
    border-right: 30px solid #a8c2e5;
}

.page-cover .info {
    flex: 1 1 auto;
    padding: 135px 0 0 84px;
    color: #fff;
    background: #2c6cb7;
}

.page-cover .info h2 {
    position: relative;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}

.page-cover .info h2:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    content: "";
    display: inline-block;
    width: 316px;
    height: 2px;
    background: #fff;
}

.page-cover .info ul {
    margin-top: 316px;
    font-size: 16px;
    line-height: 1.17;
}

.page-cover .info li {}

.page-cover .info li+li {
    margin-top: 22px;
}

.page-cover .info li strong {
    display: inline-block;
    width: 107px;
    font-weight: 700;
}

.page-second {
    padding-top: 21mm;
    padding-bottom: 13mm;
}

.page-second .report-content {
    min-height: 0;
}

.page-second h1 {
    font-size: 26px;
    color: #333;
    line-height: 36px;
    font-weight: 700;
}

.page-second h1 strong {
    color: #2c6cb7;
}

.page-second .content {
    margin-top: 50px;
}

.page-second .content p {
    font-size: 14px;
    line-height: 24px;
    color: #111;
}

.page-second .content p+p {
    margin-top: 18px;
}

.page-second .certification {
    display: flex;
    margin-top: 97px;
}

.page-second .certification>div {
    flex: 0 0 194px;
}

.page-second .certification>div+div {
    margin-left: 26px;
}

.page-second .certification .person {
    position: relative;
    padding: 0 14px;
}

.page-second .certification .person h2 {
    margin: 0 -14px;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background: #2c6cb7;
}

.page-second .certification .person strong {
    display: block;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    font-weight: 700;
}

.page-second .certification .person ul {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.43;
}

.page-second .certification .person p {
    position: absolute;
    left: 0;
    bottom: 0;
}

.page-second .certification .image {}

.personal-info {
    margin-top: 47px;
}

.personal-info .box {
    display: flex;
    height: 44px;
    align-items: center;
}

.personal-info .box:first-of-type {
    justify-content: space-between;
}

.personal-info .box>div {
    display: flex;
    align-items: flex-start;
}

.personal-info .box+.box {
    margin-top: 47px;
}

.personal-info h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    font-weight: 700;
}

.personal-info strong {
    margin-left: 18px;
    font-size: 50px;
    color: #06b1f0;
    font-weight: 700;
}

.personal-info .box:last-of-type strong {
    color: #2c6cb7;
}

.personal-info .box strong span {
    display: inline-block;
    margin: 9px 0 0 7px;
    font-size: 18px;
    vertical-align: top;
}

.personal-info .box .bmi {
    display: block;
    width: 400px;
}

.personal-info .bmi ul {
    display: flex;
    font-size: 13px;
    line-height: 1;
}

.personal-info .bmi .text li {
    text-align: center;
}

.personal-info .bmi .text li:after {
    display: block;
    content: "";
    margin-top: 8px;
    width: 100%;
    height: 2px;
}

.personal-info .bmi .text li:nth-of-type(1) {
    flex: 0 0 55px;
}

.personal-info .bmi .text li:nth-of-type(2) {
    flex: 0 0 90px;
}

.personal-info .bmi .text li:nth-of-type(3) {
    flex: 0 0 40px;
}

.personal-info .bmi .text li:nth-of-type(4) {
    flex: 0 0 120px;
}

.personal-info .bmi .text li:nth-of-type(5) {
    flex: 0 0 95px;
}

.personal-info .bmi .text li:nth-of-type(1):after {
    background: #d8d8d8;
}

.personal-info .bmi .text li:nth-of-type(2):after {
    background: #06b1f0;
}

.personal-info .bmi .text li:nth-of-type(3):after {
    background: #ffc102;
}

.personal-info .bmi .text li:nth-of-type(4):after {
    background: #ff5050;
}

.personal-info .bmi .text li:nth-of-type(5):after {
    background: #9d0100;
}

.personal-info .bmi .number {}

.personal-info .bmi .number li {
    position: relative;
    padding-top: 21px;
}

.personal-info .bmi .number li:before {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 2px;
    height: 16px;
    background: #333;
}

.personal-info .bmi .number li+li {
    margin-left: 73px;
}

/*.personal-info .bmi .number li:nth-of-type(3) {margin-left:74px;}*/
.personal-info .bmi .number li span {
    position: relative;
    left: -10px;
}

.personal-info .average {
    margin-left: 78px;
    justify-content: flex-start;
}

.personal-info .average .image {
    margin-top: 2px;
    width: 34px;
    height: 34px;
}

.personal-info .average .image img {
    width: 100%;
    height: 100%;
}

.personal-info .average .info {
    margin-left: 10px;
    line-height: 1.2;
}

.personal-info .average .info em {}

.personal-info .average .info strong {
    display: block;
    margin: 12px 0 0;
    font-size: 13px;
    line-height: 1;
    color: #6200ee;
}

/* s */

.page-fifth .layout-table tfoot,
.page-fifth footer {
    padding-top: 0;
    height: auto;
}

.page-fifth .page-footer-space {
    height: 160px;
}

.page-fifth footer {
    padding-bottom: 10mm;
    background: #fff;
}

.report-empty {
    position: relative;
    background-color: #fff;
    z-index: 10000;
}

.report-empty.page-footer-space {
    height: 18mm;
}

.layout-table .report-table:first-child,
.layout-table .report-table-title:first-child,
.layout-table .report-plan-visual:first-child {
    margin-top: 0;
}

.report-icon {
    display: inline-block;
    width: 64px;
    height: 38px;
    margin: -4px 10px -4px 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.report-icon-action1 {
    background-image: url('../images/img_action_01.svg');
}

.report-icon-action2 {
    background-image: url('../images/img_action_02.svg');
}

.report-icon-action3 {
    background-image: url('../images/img_action_03.svg');
}

.report-icon-action4 {
    background-image: url('../images/img_action_04.svg');
}

.report-icon-action5 {
    background-image: url('../images/img_action_05.svg');
}

.report-icon-action6 {
    background-image: url('../images/img_action_06.svg');
}

.report-icon-action7 {
    background-image: url('../images/img_action_07.svg');
}

.report-icon-action8 {
    background-image: url('../images/img_action_08.svg');
}

.report-icon-action9 {
    background-image: url('../images/img_action_09.svg');
}

.report-icon-action10 {
    background-image: url('../images/img_action_10.svg');
}

.report-icon-action11 {
    background-image: url('../images/img_action_11.svg');
}

.report-icon-action12 {
    background-image: url('../images/img_action_12.svg');
}

.report-icon-action13 {
    background-image: url('../images/img_action_13.svg');
}

.report-icon-action14 {
    background-image: url('../images/img_action_14.svg');
}

.report-icon-action15 {
    background-image: url('../images/img_action_15.svg');
}

.report-icon-action16 {
    background-image: url('../images/img_action_16.svg');
}

.report-icon-action17 {
    background-image: url('../images/img_action_17.svg');
}

.report-icon-action18 {
    background-image: url('../images/img_action_18.svg');
}

.report-icon-action19 {
    background-image: url('../images/img_action_19.svg');
}

.report-icon-action20 {
    background-image: url('../images/img_action_20.svg');
}

.report-icon-action21 {
    background-image: url('../images/img_action_21.svg');
}

.report-icon-action22 {
    background-image: url('../images/img_action_22.svg');
}

.report-header.report-header-theme2 h1 {
    margin-bottom: 25px;
}

.report-header .report-header-description {
    font-weight: 400;
}

.report-header h1 {
    margin: 0 0 40px;
}

.report-header h1 strong {
    color: #2c6cb7;
    font-weight: 700;
}

.report-content {
    font-size: 12px;
}

.report-content-finish {
    height: 297mm;
    color: #fff;
    background: #2c6cb7;
}

.report-content-finish .report-header {
    display: inline-block;
    margin-top: 60px;
    border-bottom: 2px solid #fff;
}


.report-content-finish .report-header h1 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 34px;
    line-height: 1.24em;
}

.report-content-finish .report-header:before {
    content: '';
    display: none;
}

.report-visual {
    margin: 40px 0 50px 20px;
    color: #2c6cb7;
}

.report-visual:after {
    content: '';
    display: block;
    clear: both;
}


.report-visual section {
    display: inline-block;
    line-height: 0;
    vertical-align: top;
}

.report-visual .report-visual-vitamineral {
    width: 210px;
}

.report-visual .report-visual-vitamineral ul {
    position: relative;
}

.report-visual .report-visual-vitamineral li {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 35px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.report-visual .report-visual-vitamineral li.vma {
    background-image: url('../images/img_vma.svg');
}


.report-visual .report-visual-vitamineral li.vma.active {
    background-image: url('../images/img_vma_on.svg');
}

.report-visual .report-visual-vitamineral li.vmb2 {
    top: 20px;
    left: 50px;
    background-image: url('../images/img_vmb2.svg');
}

.report-visual .report-visual-vitamineral li.vmb2.active {
    background-image: url('../images/img_vmb2_on.svg');
}


.report-visual .report-visual-vitamineral li.vmb12 {
    top: 0px;
    left: 100px;
    background-image: url('../images/img_vmb12.svg');
}

.report-visual .report-visual-vitamineral li.vmb12.active {
    background-image: url('../images/img_vmb12_on.svg');
}



.report-visual .report-visual-vitamineral li.vme {
    top: 20px;
    left: 150px;
    background-image: url('../images/img_vme.svg');
}

.report-visual .report-visual-vitamineral li.vme.active {
    background-image: url('../images/img_vme_on.svg');
}


.report-visual .report-visual-vitamineral li.vmb6 {
    top: 40px;
    background-image: url('../images/img_vmb6.svg');
}

.report-visual .report-visual-vitamineral li.vmb6.active {
    background-image: url('../images/img_vmb6_on.svg');
}


.report-visual .report-visual-vitamineral li.vmc {
    top: 60px;
    left: 50px;
    background-image: url('../images/img_vmc.svg');
}

.report-visual .report-visual-vitamineral li.vmc.active {
    background-image: url('../images/img_vmc_on.svg');
}

.report-visual .report-visual-vitamineral li.vmd {
    top: 40px;
    left: 100px;
    background-image: url('../images/img_vmd.svg');
}

.report-visual .report-visual-vitamineral li.vmd.active {
    background-image: url('../images/img_vmd_on.svg');
}


.report-visual .report-visual-vitamineral li.vmk1 {
    top: 60px;
    left: 150px;
    background-image: url('../images/img_vmk1.svg');
}

.report-visual .report-visual-vitamineral li.vmk1.active {
    background-image: url('../images/img_vmk1_on.svg');
}

.report-visual .report-visual-vitamineral li.vmmg {
    top: 80px;
    background-image: url('../images/img_vmmg.svg');
}

.report-visual .report-visual-vitamineral li.vmmg.active {
    background-image: url('../images/img_vmmg_on.svg');
}

.report-visual .report-visual-vitamineral li.vmfe {
    top: 100px;
    left: 50px;
    background-image: url('../images/img_vmfe.svg');
}

.report-visual .report-visual-vitamineral li.vmfe.active {
    background-image: url('../images/img_vmfe_on.svg');
}

.report-visual .report-visual-vitamineral li.vmp {
    top: 80px;
    left: 100px;
    background-image: url('../images/img_vmp.svg');
}

.report-visual .report-visual-vitamineral li.vmp.active {
    background-image: url('../images/img_vmp_on.svg');
}

.report-visual .report-visual-vitamineral li.vmk2 {
    top: 100px;
    left: 150px;
    background-image: url('../images/img_vmk1.svg');
}

.report-visual .report-visual-vitamineral li.vmk2.active {
    background-image: url('../images/img_vmk2_on.svg');
}

.report-visual .report-visual-vitamineral li.vmse {
    top: 120px;
    background-image: url('../images/img_vmse.svg');
}

.report-visual .report-visual-vitamineral li.vmse.active {
    background-image: url('../images/img_vmse_on.svg');
}

.report-visual .report-visual-vitamineral li.vmzn {
    top: 140px;
    left: 50px;
    background-image: url('../images/img_vmzn.svg');
}

.report-visual .report-visual-vitamineral li.vmzn.active {
    background-image: url('../images/img_vmzn_on.svg');
}

.report-visual .report-visual-vitamineral li.vmca {
    top: 120px;
    left: 100px;
    background-image: url('../images/img_vmca.svg');
}

.report-visual .report-visual-vitamineral li.vmca.active {
    background-image: url('../images/img_vmca_on.svg');
}

.report-visual .report-visual-fatty {
    float: right;
    width: 354px;
}

.report-visual .report-visual-fatty ul {
    /* display: grid;
    grid: auto / 114px 114px 114px;
    grid-gap: 6px; */
    margin: -6px 0 0 -6px;
    line-height: 0;
    font-size: 0;
}

.report-visual .report-visual-fatty li {
    display: inline-block;
    line-height: 1;
    width: 114px;
    margin: 6px 0 0 6px;
    padding: 9px 8px;
    border-radius: 4px;
    border: 1px solid #2c6cb7;
    text-align: center;
    background-color: #f3f7fe;
    vertical-align: middle;
}

.report-visual .report-visual-fatty li.active {
    color: #fff;
    border: 1px solid #09af00;
    background-color: #09af00;
}

.report-visual .report-visual-fatty li span {
    display: inline-block;
    margin-top: 1px;
    font-size: 11px;
    font-weight: 700;
}


.report-visual .report-visual-title {
    margin: 0 0 30px;
    color: #000;
    font-size: 16px;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
}

.report-table {
    position: relative;
    width: calc(100% + 28px);
    margin: 20px -14px 0;
    border-collapse: separate;
    border-spacing: 14px 0;
    color: #2c6cb7;
    word-break: keep-all;
}

.report-table thead th {
    font-weight: 700;
}

.report-table.report-table-center th,
.report-table.report-table-center td,
.report-table .report-table-center th,
.report-table .report-table-center td {
    text-align: center;
}

.report-table-title {
    clear: both;
    margin: 40px 0 16px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13em;
}

.report-table-title.table-title-theme2 {
    margin-top: 30px;
    margin-bottom: -4px;
}

.report-table-title.table-title-theme3 {
    margin-bottom: -4px;
}

.report-table .report-table-highlight {
    color: #fff;
    background: #6200ee;
}

.report-table.report-table-theme2 {
    margin-bottom: 20px;
}

.report-table.report-table-theme3 {
    margin-bottom: 30px;
}

.report-table th,
.report-table td {
    position: relative;
    padding: 8px 14px;
    border-bottom: 1px solid #2c6cb7;
    text-align: left;
    line-height: 1.33em;
    vertical-align: middle;
}

.report-table tr:first-child th,
.report-table tr:first-child td {
    border-top: 1px solid #2c6cb7;
}

.report-table thead+tbody tr:first-child th,
.report-table thead+tbody tr:first-child td {
    border-top: none;
}

.report-table tr.report-table-theme2,
.report-table th.report-table-theme2,
.report-table td.report-table-theme2 {
    background: #f3f7fe;
}

.report-table tr.report-table-theme3,
.report-table th.report-table-theme3,
.report-table td.report-table-theme3 {
    color: #fff;
    border: none;
    background: #2c6cb7;
}

.report-table tr.report-table-theme4,
.report-table th.report-table-theme4,
.report-table td.report-table-theme4 {
    font-size: 10px;
}

.report-table tr.report-table-theme th,
.report-table tr.report-table-theme td {
    border: none;
}

.report-table-text {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.report-table-div {
    overflow: hidden;
    float: left;
    width: 280px;
    margin-bottom: 30px;
}

.report-table-div.table-div-theme2 {
    margin-top: 30px;
}

.report-table-div.table-div-theme3 {
    margin-top: 15px;
}

.report-table-div.table-div-right {
    float: right;
}

.report-table-div .report-table-title {
    margin-top: 0;
}


.report-table .report-plan-week th,
.report-table .report-plan-week td {
    border-top: 2px solid #2c6cb7
}

.report-table .report-plan-week.week-bottom th,
.report-table .report-plan-week.week-bottom td {
    border-top-width: 0;
    border-bottom: 3px solid #2c6cb7
}

.report-table .report-plan-list {
    padding-left: 0;
    padding-right: 0;
}

.report-table .report-plan-list ul {
    height: 12px;
    line-height: 0;
    font-size: 0;
}

.report-table .report-plan-list li {
    position: relative;
    display: inline-block;
    width: 14.28%;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    vertical-align: top;
}

.report-table .report-plan-list li:before {
    content: '';
    display: block;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 12px;
    background: #fff;
}

.report-table .report-plan-list li:first-child:before {
    display: none;
}

.report-table tbody .report-plan-list li:before {
    content: '';
    background: #2c6cb7;
}

.report-table-description {
    margin: 0 0 20px;
    padding: 8px 14px;
    color: #2c6cb7;
    line-height: 1.33em;
    border-top: 1px solid #2c6cb7;
    border-bottom: 1px solid #2c6cb7;
    background-color: #f3f7fe;
    page-break-inside: avoid;
    page-break-after: auto
}

.report-table-description li span {
    display: inline-block;
    vertical-align: top;
    ;
}

.report-table-description strong {
    display: block;
    margin: 0 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.report-table-description.report-description-theme2 {
    padding-top: 12px;
    padding-bottom: 14px;
    line-height: 1.67em;
}

.report-table-description.report-description-theme3 {
    margin: 20px 0 25px;
    padding-top: 9px;
    padding-bottom: 7px;
    line-height: 1.56em;
}


.report-plan-visual {
    margin: 40px 0 30px;
}

.report-plan-visual img {
    width: 100%;
}

.report-reference-list {
    overflow: hidden;
    width: 100%;
    margin: 80px 0 0;
}

.report-reference-list li {
    float: left;
    width: 55%;
    margin-left: 35px;
    font-size: 14px;
    line-height: 1.6em;
}

.report-reference-list li:first-child {
    width: 180px;
    margin-left: 0;
}

.report-reference-list:after {
    content: '';
    display: grid;
    clear: both;
}

.report-center {
    position: relative;
    margin: 160px 0 0;
    padding: 14px 0 0;
    font-size: 14px;
}

.report-center:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 5%;
    height: 1px;
    background: #fff;
}

.report-center-description {
    font-size: 14px;
    line-height: 1.6em;
}

.report-center-description p {
    margin: 0 0 10px;
}

.report-center-description strong {
    font-size: 14px;
    font-weight: 400;
}

.report-center-time {
    overflow: hidden;
    display: inline-block;
    width: 404px;
    height: 120px;
    margin: 20px 0 0;
    border-radius: 8px;
    color: #000;
    background: #fff;
}

.report-center-time dt,
.report-center-time dd {
    float: left;
}

.report-center-time dt img {
    width: 218px;
}

.report-center-time dd {
    position: relative;
    margin: 25px 25px 25px 0;
    padding-left: 20px;
}

.report-center-time dd:before {
    opacity: 0.2;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
}

.report-center-time p {
    margin: 0 0 12px;
    color: #6200ee;
    font-size: 26px;
    font-weight: 900;
    line-height: 0.84em;
}

.report-center-time li {
    color: #333;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5em;
}

.report-center-time li strong {
    display: inline-block;
    width: 40%;
    font-weight: 900;
}

.report-copyright {
    margin: 80px 0 0;
    line-height: 1.2em;
}

.report-copyright strong {
    font-size: 16px;
    font-weight: 700;
}

.report-copyright ul {
    margin: 14px 0 0;
}

.report-copyright ul li {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.report-copyright ul li span {
    opacity: 0.5;
    display: inline-block;
    padding: 0 11px;
    color: #fff;

}